In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\ProgramData\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
data = pd.read_csv('DaywiseTenantsInvocies.csv')

In [4]:
data.head()

       Date  Tenants  Invoices
0  1/1/2019      136      3491
1  1/2/2019      132      2670
2  1/3/2019      180      5336
3  1/4/2019      160      4376
4  1/5/2019      134      3787

In [12]:
data[['Tenants','Invoices']]

     Tenants  Invoices
0        136      3491
1        132      2670
2        180      5336
3        160      4376
4        134      3787
..       ...       ...
454      125      1745
455       63       661
456       55       501
457      133      2486
458      131      2226

[459 rows x 2 columns]

In [13]:
predict = "Tenants,Invoices"
X = np.array(data.drop(['Tenants','Invoices'],axis=1))
y = np.array(data[['Tenants','Invoices']])

In [14]:
x_train, y_train, x_test, y_test = sklearn.model_selection.train_test_split(X,y, test_size = 0.1)